#logo {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
    margin: 0 auto;
    top: 30px;
    left: 30px;
}


:root {
    --primary-color: rgba(13, 110, 139, .075);
    --overlay-color: rgba(24, 39, 51, .85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    line-height: 1.4;
}


/* hero container */
.hero {
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
    width: 28vw;
    height: 57vw;
} 

.hero-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.menu-wrap {
    position: absolute;
    top: 0;
    right: 65px;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}



.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: black;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap  .toggler:checked + .hamburger> div {
    transform: rotate(135deg);
}

/* Turn lines into X */

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap  .toggler:checked:hover + .hamburger> div {
    transform: rotate(225deg);
}

/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background-color: rgba(119, 36, 55, 1);
    width: 100vw;
    height: 100vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.4s ease;
}

a {
    font-weight: 400!important;
    transition: color 0.5s ease-in-out;
    background-color: transparent; 
}
    
a:hover {
        cursor: pointer;
        text-decoration:none;
        color:black !important;
      outline: 0; 
}
    
.social_holder {
        font-family: 'Montserrat', 'sans serif';
        right: 29px;
        bottom: 40px;
        position: fixed;	
        background: url(../images/dribbble.png);
        z-index: 2;
}
    
.social_icon {
        padding: 0px 11px;
}    

.my_work_section {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.my_work_section .my_work {
    background: url(../images/nasa_case.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
    width: 74vw;
    height: 82vw;
}

/* My Work Page CSS */

*{margin:0;padding:0;}

.bg{
    position:relative;
    z-index:1;
}

.bg img{
  display:block;
  width:100%; 
  height:auto;
}

.bg h1{
  position:absolute;
  top:20%;
  left:0;
  width:100%;
  font-size:100px;
  text-align:center;
  color: white
}

.bg h2{
    position:absolute;
    top: 50%;
    left:0;
    width:100%;
    font-size:80px;
    text-align:center;
    color: white
  }

  /* h1 If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .bg h1 {
      font-size: 100px;
    }
  }
  
  /* h1 If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .bg h1 {
      font-size: 50px;
    }
  }


  /* h2 If the screen size is 601px wide or more, set the font-size of <div> to 80px */
  @media screen and (min-width: 601px) {
    .bg h2 {
      font-size: 80px;
    }
  }
  
  /* h2 If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .bg h2 {
      font-size: 30px;
    }
  }

.cont{
  position:relative;
  z-index:2;
  background:rgba(0,0,0,0.9);
  font-size:27px;
  color:#fff;
  padding:5%;
}

.cont *{
  max-width:900px;
  margin:5% auto;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

  }

.container .item{
    width: 50vw;
    padding: 20px 10px 20px 10px;
  }